.places {
    top:0;
    text-align:center;
    position:relative; 
}
.places article {
    width:390px;
    padding:20px;
    margin:20px;
    border:#FF5A5F solid 1px;
    border-radius:4px;
    position:relative;
}
.places h1 {
    font-size:30px;
    vertical-align:top;
    text-align:left;
}
.places article h2 {
    font-size:30px;
    text-align:center;
}
