.places {
    text-align:center;
    position:relative; 
}
.places article {
    width:390px;
    padding:20px;
    margin:20px;
    border:#FF5A5F solid 1px;
    border-radius:4px;
    display:inline-block;
    float:none;
}
.places h1 {
    font-size:30px;
    vertical-align:top;
    text-align:left;
}
.places article h2 {
    font-size:30px;
    text-align:center;
}
.places .price_by_night {
    font color:#FF5A5F;
    border: #FF5A5F 4px solid;
    border-radius:50%; 
    min-width:60px;
    height:60px;
    font-size:30px;
    margin-right:3%;
    margin-top:3%; 
}
.information {
    height:80px;
    border-top:#DDDDDD 1px solid;
    border-bottom:#DDDDDD 1px solid;
}
.information .max_guest {
    width:100px;
    background-image: url('../images/icon_group.png');
    background-repeat: no-repeat;
    background-position:center; 
    padding-top:50px;
    display:inline-block;
}
.information .number_rooms { 
    width:100px;
    background-image: url('../images/icon_bed.png');
    background-repeat: no-repeat;
    background-position:center; 
    padding-top:50px;
    display:inline-block;
}
.information .number_bathrooms {
    width:100%;
    background-image: url('../images/icon_bath.png');
    background-repeat: no-repeat;
    padding-top:50px;
    background-position:center;
    display:inline-block;
}
.places .user {
    font-weight:bold;
    text-align:left; 
    padding: 10px 0;
}
.places .description {
    text-align:left;
}
